@model WebApplication1.Models.Employee

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutOorderPage.cshtml";
}
<body>
    <div>
        <h2>查詢</h2>
        <table>
            <tr>
                <td>員工編號</td>
                <td>
                    <input class="k-textbox" id="EmployeeID" type="text" />
                </td>
            </tr>
            <tr>
                <td>員工姓名</td>
                <td>
                    <input class="k-textbox" id="Name" type="text" />
                </td>
            </tr>
            <tr>
                <td>職稱</td>
                <td>
                    <input id="Job" type="text" />
                </td>
            </tr>
            <tr>
                <td>任職日期</td>
                <td>
                    <input class="k-textbox" id="StartDate"/>
                </td>
                <td>
                    <input class="k-textbox" id="FinalDate" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="4">
                    <button id="submit" type="button">查詢</button>
                    <button id="resetbutton" tyqe="reset">清除</button>
                    <a id="insertpage" href="/GetOrder/InsertPage">新增員工</a>
                </td>
            </tr>
        </table>
    </div>
    <div id="resultDiv" style="display : none">
        <table id="EmployeeList"></table>
    </div>
</body>
</html>

<script>

    window.onload = function () {
        $.ajax({
            url: "/aspnetFinalTermExam/employeeList",
            type: "get",
            dataType: "json",
            success: function (Jdata) {

                $("#Job").kendoComboBox({
                    dataSource: Jdata[0],
                    dataTextField: "Text",
                    dataValueField: "Value",
                });
            }
        });
    };

    $("#StartDate").kendoDatePicker();
    $("#FinalDate").kendoDatePicker();
    $("#resetbutton").kendoButton();
    $("#submit").kendoButton({
        click: function (e) {
            document.getElementById("resultDiv").style.display = "";
            $("#EmployeeList").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "/GetOrder/GetData",
                            type: "POST",
                            dataType: "json",
                            data: {
                                EmployeeID: $("#EmployeeID").val(),
                                Name: $("#Name").val(),
                                Job: $("#Job").val(),
                                StartDate: $("#StartDate").val(),
                                FinalDate: $("#FinalDate").val(),
                            }
                        },
                    },
                    schema: {
                        model: {
                            fields: {
                                EmployeeID: { type: "string" },
                                Name: { type: "string" },
                                Job: { type: "string" },
                                HireDate: { type: "date" },
                            }
                        }
                    },
                    pageSize: 15
                },
                height: 550,
                sortable: true,
                reorderable: true,
                resizable: true,
                pageable: true,
                columns: [
                    {
                        field: "EmployeeID",
                        title: "EmployeeID",
                    },
                    {
                        field: "Name",
                        title: "Name"
                    },
                    {
                        field: "StartDate",
                        title: "StartDate",
                        format: "{0:MM/dd/yyyy}",
                        width: 200
                    },
                    {
                        field: "Gender",
                        title: "Gendere",
                        width: 200
                    },
                     {
                         field: "Age",
                         title: "Age",
                         width: 200
                     },
                   {
                        command: [
                        {
                            name: "修改",
                            click: function (e) {
                                var tr = $(e.target).closest("tr");
                                var data = this.dataItem(tr);
                                ShowUpdateDetails(data.OrderID);
                            }
                        },
                        {
                            name: "刪除",
                            click: function (e) {
                                var tr = $(e.target).closest("tr");
                                var data = this.dataItem(tr);
                                DoDelete(data.OrderID);
                            }
                        },
                       ]
                   }

                ]
            });
            $("#resultTable").data("kendoGrid").dataSource.read();
            $('#resultTable').data('kendoGrid').refresh();
        },
    });

    /*function ShowUpdateDetails(OrderID) {
        window.location.href = "/GetOrder/UpdatePage?OrderID=" + OrderID ;
    }

    function DoDelete(OrderID) {
        $.ajax({
            url: "/GetOrder/DoDelete",
            type: "Get",
            data: { OrderID: OrderID },
        });

        $('#resultTable').on('click', '.deleteData', function () {
            $(this).closest('tr').remove();
        });
    }*/

</script>
